@import url("reset.css");

html {
	padding: 0;
	margin: 0;
}

body {
	color: #216fa3;
	font-family: "Chewy", sans-serif;
	font-size: 30px;
	line-height: 1.6;
	background-color: #f9f9f9;
	background-image: url('../img/gum.png');
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat; 
	display: flex;
    justify-content: center;    
    align-items: center;        
    height: 100vh;   
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Chewy", sans-serif;
	font-weight: normal;
	line-height: 1;
	text-transform: uppercase;
	margin: 0 0 1.6rem;
}

p {
	font-family: "Chewy", sans-serif;
	line-height: 1.6;
	margin: 0 0 1.6rem;
}

a {
	color: #0056b3;
	border-bottom: 2px solid transparent;
	transition: all 0.5s ease-in-out;
}

a:hover {
	color: #002348;
	border-bottom: 2px solid #002348;
}

hr {
	margin: 3.2rem 1.6rem;
	color: #555555;
	border-color: #555555;
}

/* Layout */
.container{
	margin: auto;
    background-color: rgba(255, 255, 255, 0.4); 
    backdrop-filter: blur(10px); 
    border-radius: 10px;         
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}




.main {
	display: flex;              
    flex-direction: column;    
    justify-content: center;   
    align-items: center;       
    padding: 20px;
}




/* Media Queries */

@media (min-width: 699px) {

	/* CSS HERE */

}

/* Desktop Media Query */
@media (min-width: 999px) {

	/* CSS HERE */

}
